<%
  title "eduroam Switchboard"
%>
<div class="jumbotron">
  <h1>Operator, please!</h1>
  <p>eduroam Switchboard - manage your federation with ease.</p>
  <p><a class="btn btn-primary btn-lg" href="#" role="button">Learn more</a></p>
</div>