version: '3'

services:
  postgres:
    image: 'postgres:9.6-alpine'
    restart: unless-stopped
    environment:
      POSTGRES_USER: 'switchboarder'
      POSTGRES_PASSWORD: 'SoSecretPassword'
    ports:
      - '5432:5432'
    expose:
      - "5432"
    volumes:
      - 'postgres:/var/lib/postgresql/data'

  redis:
    image: 'redis:4-alpine'
    restart: unless-stopped
    command: redis-server --requirepass MoreSecretPassword
    ports:
      - '6379:6379'
    volumes:
      - 'redis:/data'

  website:
    depends_on:
      - 'postgres'
      - 'redis'
    build: .
    restart: unless-stopped
    ports:
      - '3000:3000'
    volumes:
      - '.:/app'
    env_file:
      - '.env'

  sidekiq:
    depends_on:
      - 'postgres'
      - 'redis'
    build: .
    restart: unless-stopped
    command: sidekiq -C config/sidekiq.yml.erb
    volumes:
      - '.:/app'
    env_file:
      - '.env'

  cable:
    depends_on:
      - 'redis'
    build: .
    restart: unless-stopped
    command: puma -p 28080 cable/config.ru
    ports:
      - '28080:28080'
    volumes:
      - '.:/app'
    env_file:
      - '.env'

  rad_eap_test:
    image: "chrohrer/rad_eap_test:latest"
    container_name: rad_eap_test
    restart: unless-stopped
    command: crond -f -l 8
    volumes:
      - ./app/jobs/radtest.sh:/etc/periodic/1min/radtest

volumes:
  redis:
  postgres:
